[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
{{- else }}
	autocrlf = input
{{- end }}
	editor = code
[init]
	defaultBranch = main
[status]
	short = true
[pull]
	rebase = false
{{- if eq .chezmoi.os "darwin" }}
[credential]
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
{{- end }}
