{{- /* Secondary git identity for work repos in ~/repos/sc/ */ -}}
{{- /* Only generated when github.sc.name and github.sc.email are configured */ -}}
[user]
	name = {{ .github.sc.name }}
	email = {{ .github.sc.email }}
