# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
# Two trailing spaces = <br> in Markdown
trim_trailing_whitespace = false

[*.{sh,bash,zsh,zshrc,zprofile,zshenv}]
# shfmt formatting options (google style guide conventions)
binary_next_line = true
switch_case_indent = true
space_redirects = false
keep_padding = false
function_next_line = false
